.dropdown-menu {
  border-radius: 2px;
  display: none; /* Initially hide the dropdown menu */
  position: absolute;
  top: 65px;
  background-color: rgba(146, 140, 140, 0.5);
  width: 185px;
  box-shadow: 0 2px 5px rgba(130, 129, 129, 0.2); /* Optional: Adds a shadow to dropdown */
  z-index: 1; /* Ensure dropdown appears above other content */
  opacity: 0; /* Start with opacity 0 */
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out; /* Add a smooth opacity and transform transition */
  transform: translateY(-10px);
}

.dropdown-menu li {
  text-align: left; /* Align text to the left */
}

.dropdown-menu li a {
  color: white;
  padding: 10px;
  display: block;
}

.dropdown-menu li a:hover {
  color: #bf0a30;
}

/* Show dropdown when hovering over parent li */
.dropdown:hover .dropdown-menu {
  display: block;
  opacity: 1; /* Fade in the dropdown */
  transform: translateY(0); /* Bring dropdown back to original position */
  transition-delay: 0.3s; /* Delay the appearance of the dropdown */
}

header button:active {
  opacity: 70%;
  color: #fff;
}

/* banner area */
section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 170px 40px;
  color: #000;
  z-index: 10;
}

section p {
  max-width: 800px;
  text-align: center;
  margin-bottom: 35px;
  padding: 20px;
  line-height: 2;
  z-index: 10;
}

.banner-area .banner-img {
  background-image: url(../img/home.png);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  background-size: cover top;
  padding-bottom: 200px;
}

.info span {
  font-size: 20px;
  font-weight: 1000;
}

.advocacy {
  display: flex;
  align-items: center;
}

.about-btn {
  padding: 25px 50px;
  font-size: 15px;
  background: #a3826c;
  border-radius: 2px;
  border: none;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  margin-top: 3rem;
}

.about-btn:hover {
  opacity: 0.8;
  transition: 0.3s;
}

.home-section {
  display: flex;
  justify-content: center;
  padding: 0 0 20rem;
}

section ul .home-img_1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-content {
  width: 77%;
}

section #home-content p {
  font-size: 25px;
  font-weight: 500;
  text-align: center;
}

.home-img_1 img {
  height: 70%;
  width: 70%;
}

footer {
  background-color: #efefee;
}

footer p {
  padding: 50px 0 40px 50px;
  font-weight: 100px;
}
